{% extends 'authentication/base.html' %}

{% block title %}Student Applications{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Student Applications</h2>
        
        <!-- Application Table -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">PRN</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            {% if application.student %}
                                <td>{{ application.student.user.first_name }} {{ application.student.user.last_name }}</td>
                                <td><a href="{% url 'students:view_student' application.student.id %}">{{ application.student.prn }}</a></td>
                            {% else %}
                                <td>{{ application.first_name }} {{ application.last_name }}</td>
                                <td>{{application.prn}}</td>
                            {% endif %}
                            <td>{{ application.subject|truncatechars:23 }}</td>
                            <td>
                                <!-- View Button -->
                                <a href="{% url 'applications:view_application' application.id %}" class="btn btn-info btn-sm">View</a>
                                
                                <!-- Print Button -->
                                <a href="{% url 'applications:print_application' application.id %}" class="btn btn-warning btn-sm">Print</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">No Applications found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
