{% extends 'authentication/base.html' %}

{% block title %}Student Applications{% endblock %}

{% block style %}

{% endblock %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Archived Applications</h2>
        
        <form method="GET" class="mb-3">
            <div class="row">
                <div class="col-md-4">
                    <input type="text" name="search" class="form-control" placeholder="Search by PRN, Name, or Application Type" value="{{ request.GET.search }}">
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-primary">Search</button>
                </div>
            </div>
        </form>
        <!-- Application Table -->
        <div class="table-responsive">
            <table class="table table-bordered table-hover">
                <thead class="thead-dark">
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Name</th>
                        <th scope="col">PRN</th>
                        <th scope="col">Application Type</th>
                        <th scope="col">Subject</th>
                        <th scope="col">Received On</th>
                        <th scope="col">Status</th>
                        <th scope="col">Actions</th>
                    </tr>
                </thead>
                <tbody>
                    {% for application in applications %}
                        <tr>
                            <th scope="row">{{ forloop.counter }}</th>
                            <td>{{ application.first_name }}{% if application.last_name %} {{ application.last_name }}{% endif %}</td>
                            {% if application.student %}
                                <td><a href="{% url 'students:view_student' application.student.id %}">{{ application.student.prn }}</a></td>
                            {% else %}
                                <td>{{application.prn}}</td>
                            {% endif %}
                            <td>{{ application.application_type }}</td>
                            <td>{% if application.subject %} {{ application.subject|truncatechars:23 }} {% endif %}</td>
                            <td>{{ application.created_at|date:"d M, Y" }}</td>
                            <td>
                                {% if application.status == 'Pending' %}
                                    <span class="badge badge-warning">{{ application.status }}</span>
                                {% elif application.status == 'Resolved' %}
                                    <span class="badge badge-success">{{ application.status }}</span>
                                {% endif %}
                            <td>
                                <!-- View Button -->
                                <a href="{% url 'applications:view_application' application.id %}" class="btn btn-info btn-sm">View</a>
                                
                                <!-- Print Button -->
                                <a href="{% url 'applications:print_application' application.id %}" class="btn btn-warning btn-sm">Print</a>
                            </td>
                        </tr>
                    {% empty %}
                        <tr>
                            <td colspan="6" class="text-center">No Applications found.</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
