{% extends 'authentication/base.html' %}

{% block content %}
    <div class="container mt-5">
        <h2 class="mb-4">Application Details</h2>

        <!-- Staff Details -->
        <div class="card mb-4">
            <div class="card-header d-flex justify-content-between align-items-center">
                <strong>{{application.subject}}</strong>
                <div>
                    <a href="{% url 'applications:print_application' application.id %}" class="btn btn-warning btn-sm">Print</a>
                </div>
            </div>
            <div class="card-body">
                {% if application.student %}

                <p><strong>Name:</strong> {{ application.student.user.first_name }} {{ application.student.user.last_name }}</p>
                <p><strong>Email:</strong> {{ application.student.user.email }}</p>
                <p><strong>PRN:</strong> {{ application.student.prn }}</p>
                <p><strong>ERP ID:</strong> {{ application.student.erp }}</p>
                {% else %}
                <p><strong>Name:</strong> {{ application.first_name }} {{ application.last_name }}</p>
                <p><strong>PRN:</strong> {{ application.prn }}</p>
                <p><strong>ERP ID:</strong> {{ application.erp }}</p>
                {% endif %} 

                <br>
                <br>
                <p><strong>Subject:</strong> {{ application.subject }}</p>
                <p><strong>Message:</strong> {{ application.message }}</p>
                <br>
                <br>
                <p><strong>Received On:</strong> {{ application.created_at }}</p>


            </div>
        </div>

    </div>
{% endblock %}

