{% extends 'authentication/base.html' %}

{% block title %}
Preview Excel Data
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center">Preview Excel Data</h2>
    {% if table_html %}
        <div class="table-responsive" style="max-height: 400px; overflow-y: auto;">
            {{ table_html|safe }}
        </div>
        <form method="POST" action="{% url 'students:save_students' %}">
            {% csrf_token %}
            <input type="hidden" name="file_name" value="{{ file_name }}">
            <button type="submit" class="btn btn-success mt-3">Save Students</button>
        </form>
    {% endif %}
</div>
{% endblock %}
