{% extends 'authentication/base.html' %}

{% block title %}Generate Certificate{% endblock %}

{% block content %}

<div class="container mt-5">
    <div class="row">
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Bonadife Certificate</h5>
                    <p class="card-text">Generate bonafide certificates for students</p>
                    <a href="{% url 'certificates:bonafide_certificate' %}" class="btn btn-primary">Generate</a>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Transfer Certificate</h5>
                    <p class="card-text">Generate Transfer certificates for students</p>
                    <a href="#" class="btn btn-primary">Generate</a>
                </div>
            </div>
        </div>
        <!-- <div class="col-md-4">
            <div class="card h-100">
                <div class="card-body">
                    <h5 class="card-title">Generate Certificates</h5>
                    <p class="card-text">Create and issue student certificates like TCs and bonafide certificates.</p>
                    <a href="#" class="btn btn-primary">Go to Certificate Generation</a>
                </div>
            </div>
        </div> -->
    </div>
</div>

{% endblock %}