{% extends 'authentication/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Edit Staff Information
{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4">Edit Staff Information</h2>

    <form method="post" action="{% url 'authentication:edit_staff' staff.id %}">
        {% csrf_token %}
        <!-- <div class="form-group mb-3">
            <label for="first_name">Full Name</label>
            <input type="text" name="full_name" id="full_name" class="form-control" value="{{ staff.full_name }}" required>
        </div>

        <div class="form-group mb-3">
            <label for="phone_number">Email</label>
            <input type="text" name="email" id="email" class="form-control" value="{{ staff.email }}" title="Enter a valid email address" required>
        </div> -->
        {{ form|crispy }}

        <button type="submit" class="btn btn-primary">Save Changes</button>
        <a href="{% url 'authentication:manage_staff' %}" class="btn btn-secondary">Cancel</a>
    </form>
</div>
{% endblock %}
